body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formulario {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  gap: 5px;
  margin: 0 auto;
  width: fit-content;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.smartphone {
  background-color: #cce5ff;
}

.notebook {
  background-color: #b4ffc6;
}

.roteador {
  background-color: #f8d7da;
}

.smartphone, .notebook, .roteador{
  display: flex;
  justify-content: center;
  align-items: center;
}

.vazio {
  background-color: #f8f9fa;
}

.origem {
  border: 2px solid blue;
  background-color: lightblue;
}

.destino {
  border: 2px solid red;
  background-color: lightcoral;
}

/* Estilo para o pacote animado */
.pacote {
  animation: pacoteTrajeto 1s linear forwards;
  background-color: yellow;
  color: black;
}

/* Animação do trajeto (ajuste para corresponder ao grid) */
@keyframes pacoteTrajeto {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}




.icon {
  width: 30px; /* Ajuste conforme necessário */
  height: 30px;
  object-fit: contain; /* Garante que a imagem mantenha sua proporção */
}



#formulario {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
  display: flex;
/*   flex-direction: column; */
  gap: 15px;
}

#formulario input, 
#formulario select, 
#formulario button {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#formulario input:focus,
#formulario select:focus {
  border-color: #0056b3;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

#formulario button {
  background-color: #0056b3;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#formulario button:hover {
  background-color: #004494;
}

#formulario button:active {
  background-color: #003366;
}
